h1 {
    color: #00008b;
}

body {
    background-color: #fff;    
}

.container_for_view {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
}

tbody {
    text-align: center;   
}

.textInput {
    width: 100%;
    margin-bottom: 0;    
}