<h1>Добавление событий</h1>
<form method="post">
    <fieldset>
        <label>Поле для новых событий</label>
        <textarea id="eventsToAdd" name="eventsToAdd" class="w-100" rows="20" required></textarea>
        <div class="row justify-content-md-center">
            <button type="submit" class="btn btn-success btn-lg mb-3">Добавить события в базу</button>
        </div>
    </fieldset>
</form>