@using EventToMetaValueDeconstructor
@using Mvc.dto

@{
    int i = 0;    
    <b>@Model.EventKey</b>
    <form class="mt-4" method="post">
        <fieldset>
            <div class="form-group">
                @foreach (JsonProperty jsonProperty in Model.JsonPropertiesMetaValue)
                {                    
                    <label for="jsonInfo_Properties[@i]_Name" class="mt-1">@jsonProperty.PropertyName (@jsonProperty.PropertyType)</label>
                    <div class="row w-100">
                        <div class="col-sm-3">
                            @if ((jsonProperty.PropertyType == PropertyType.Object) || (jsonProperty.PropertyType == PropertyType.List))
                            {
                                <textarea id="jsonInfo_Properties[@i]" name="jsonInfo.Properties[@i]" class="textInput" rows="6" placeholder="Впишите значение сюда"></textarea>
                            }
                            else
                            {
                                <input type="text" id="jsonInfo_Properties[@i]" name="jsonInfo.Properties[@i]" class="form-control mb-2" placeholder="Впишите значение сюда"/>
                            }
                        </div>
                        <div class="col-sm-1">
                            <a class="btn btn btn-primary" data-toggle="collapse" href="#sampleValue_@i" role="button" aria-expanded="false" aria-controls="sampleValue_@i">Пример</a>
                        </div>
                        <div class="col-sm-4">
                            <div class="collapse multi-collapse" id="sampleValue_@i">
                                <input type=text id="SampleValue[@i]" class="form-control mb-2" placeholder="Пример значения" value="@jsonProperty.SampleValue" disabled />
                            </div>                            
                        </div>
                    </div>
                    i = i + 1;
                }
            </div>
            <button type="submit" class="btn btn-success btn-lg mb-3">Сгенерировать json</button>
        </fieldset>
    </form>
}